
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center; background-color:gray;font-size:20px;">
        <b style="font-family: fantasy;">IT-Apex</b>
    
    </div>
    <pre>
     Hi Sir/Madam,
     Welcome to IT-Apex.
     Explore our II and security surviellence products
     and do contact us for any repair and mintenece services.
     Feel free to sell your used IT products also.
     Enjoy Buying and Selling.

     Contact us:-9820596127
</pre>
</body>
</html>
