@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>

<br/>
<br />
<br />
<h3 style="text-align:center"><strong>Welcome to IT-Apex</strong></h3>
<div class="container">
   
    <br />
    <div class="row">

        <div class="col-md-6">
            <div class="container">
                <img class="img-responsive" src="~/img/aboutI1.png" width="420" height="336">
            </div>
        </div>


        <div class="col-md-6">
            <p>
                <b>
                    Welcome to IT-Apex ecommerce, your number one source for all things IT Products. We're dedicated to providing you the very best of products,
                    with an emphasis on Effective calls yo action, Strong social elements, Fast load time and trust.


                    Founded in 2007 by M J Utekar,
                    IT-Apex ecommerce has come a long way from its beginnings. When M J first started out,
                    his passion for M J Compuerts drove them to start their own business..
                    and now we have a brand new website IT-Apex.
                </b>
            </p>
        </div>

    </div>
    <br />
    <br />
    <br />
    <div class="row">

        <div class="col-md-6">
            <p style="text-align:center">
                <b>
                    <h5 style="text-align:center"> Solutions for PC, Android, Chrome OS, and Mac technicians.</h5>
                    These five-star rated, IT-Apex branded, hardware diagnostic tools are used by PC, Android, Chrome OS,
                    and Mac repair technicians, service professionals, and hobbyists, on the bench and on the road. Large
                    and small repair organizations use these device troubleshooting toolkits to shorten system diagnostic
                    time and reduce parts usage. Full Windows 10 and Android support!
                </b>
            </p>
        </div>


        <div class="col-md-6">


            <div class="container">
                <img class="img-responsive" src="~/img/aboutI2.png" width="420" height="336">
            </div>
        </div>

    </div>
    <br />
    <br />
    <br />
    <div class="row">

        <div class="col-md-6">
            <div class="container">
                <img class="img-responsive" src="~/img/aboutI3.png" width="420" height="336">
            </div>
        </div>


        <div class="col-md-6">
            <h3 style="text-align:center">We Offer</h3>

            <p style="text-align:center">
                <b>

                    IT-Apex offers a comprehensive range of advanced security and surveillance solutions to meet the
                    ever-changing requirements of different industries. At present, we are serving many different verticals
                    comprising defence, government, hotels, hospitals, educational institutes, homes, infrastructure, and
                    transportation among others. Being a major surveillance system brand globally, we bring efficient,
                    reliable, scalable, and integrated solutions to our customers.
                </b>
            </p>
        </div>

    </div>


</div>