@model IEnumerable<ITApexWebsite.Models.tblProduct>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "DisplayProduct";
    Layout = "~/Views/Shared/_ITProductLayout.cshtml";
}



<br />
<br />
<br />


<div class="row product-container">

    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-3 col-xs-6 thumb" style="margin-bottom:8px">
            <div class="thumbnail product-item" style="height:400px">
                <img class="img-responsive" src="~/ProductImage/@item.p_image" title="Click to view product detail" style="cursor:pointer;height:160px;width:100%" />

                <div class="caption">
                    <h5>@item.p_name</h5>
                    <p>₹@item.p_price </p>
                    <p>
                        @if (item.p_quantity > 0)
                        {
                            using (Html.BeginForm("AddToCart", "Home", new { productId = item.p_Id }, FormMethod.Post))
                            {
                                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-shopping-cart"></i></button>

                            }

                        <p>Available</p>
                    }
                    else
                    {
                        <p>Not Available</p>
                    }
                        <div class="btn-block">
                            <a href="/Admin/GetProductDetail/@item.p_Id" class="btn btn-block btn-outline-primary">View Details</a>
                        </div>

                        <div class="product-item-badge">
                            @if (item.p_isFeatured == true)
                            {
                                <p>New</p>
                            }
                            else
                            {
                                <p>Old</p>
                            }
                        </div>
                    </div>

                </div>

            </div>
        }
</div>




