@import url(font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);


.logo {
   // margin-bottom: 30px;
}

    .logo h1,
    .logo h2 {
        margin: 5px 0 5px;
        text-align: left;
        font-size: 32px;
        line-height: 34px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -1px;
    }

        .logo h1 span,
        .logo h2 span {
            font-weight: 300;
        }

        .logo h1 a,
        .logo h2 a {
            color: #ffffff;
            text-decoration: none;
            -webkit-transition: color 0.3s ease-in-out, text-decoration 0.5s ease-in-out;
            -moz-transition: color 0.3s ease-in-out, text-decoration 0.5s ease-in-out;
            -ms-transition: color 0.3s ease-in-out, text-decoration 0.5s ease-in-out;
            -o-transition: color 0.3s ease-in-out, text-decoration 0.5s ease-in-out;
            transition: color 0.3s ease-in-out, text-decoration 0.5s ease-in-out;
        }

            .logo h1 a:hover,
            .logo h2 a:hover {
                color: #888;
                text-decoration: underline;
            }

/*olContent*/

.olContent {
    margin:0;
    padding-top:30px;
    width: 100%;
}

    .olContent h2 {
        color: #fff;
        font-size: 19px;
        padding: 9px 0 0;
    }

.olSearch {
    margin: 0;
    padding: 0;
    width: 100%;
}

    .olSearch .inputComn {
        margin-bottom: 0;
    }

.inputComn {
    color: black;
    font-size: 14px;
    height: 44px;
    width: 100%;
    cursor: pointer;
    padding: 0 15px;
}

.searchIcon {
    position: absolute;
    top: 0;
    right: 0;
}

.searchBtn {
    background-color: #005faa;
    border: 0 none;
    color: #fff;
    font-size: 16px;
    padding: 11px 16px;
    text-transform: uppercase;
    cursor: pointer;
    height: 44px;
}

    .searchBtn:hover {
        background-color: #326987;
    }

.olSearch {
    position: relative;
}

.content {
}

    .content .page-header {
        padding-bottom: 5px;
        margin: 20px 0 30px;
        border-bottom: 1px solid #eee;
    }

        .content .page-header h2 {
            font-weight: 700;
        }

/*ProductSection*/

.products{
    padding-top:30px;
}
.product-item {
    
    position: relative;
}

    .product-item .caption h5 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        border-top: 2px solid #333;
        margin-top: 10px;
        padding-top: 10px;
    }

    .product-item .caption .product-item-price {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
    }

    .product-item .product-item-badge {
        position: absolute;
        top: 4px;
        left: 4px;
        padding: 5px 12px 6px;
        color: #fff;
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
        background: #333;
        -webkit-border-radius: 4px 0 4px 0;
        -moz-border-radius: 4px 0 4px 0;
        -o-border-radius: 4px 0 4px 0;
        border-radius: 4px 0 4px 0;
    }

/********** footer css start**********/

.footersection {
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: #323232;
    position: relative;
}

.footersection {
    color: #fff;
}

    .footersection li a {
        font-size: 0.9rem;
        line-height: 1.6;
        font-weight: 400;
        text-transform: uppercase;
    }

.newsletter {
    width: 100%;
    height: auto;
    margin: 80px auto;
}

.news-input {
    border-radius: 100px 0px 0px 100px !important;
    min-width: 150px;
    min-height: 40px;
}

.input-group-text {
    color: #fff !important;
    background: #5bc0de !important;
    border-radius: 0 100px 100px 0 !important;
    min-width: 100px;
    min-height: 40px;
}

li {
    list-style: none;
}

/**********social media css *********/
.social a {
    text-decoration: none;
    padding: 5px;
    padding-right: 47px;
    color: #00abff;
    font-size: 1.5rem;
}

.social {
    margin: 0px;
    padding: 0px;
}

.social {
    display: flex;
    flex-direction: row;
    float: right;
    align-items: center;
}

    .social a:hover {
        color: #1044EE;
        transition: all ease 0.3s;
    }


#myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    z-index: 99;
    border: none;
    color: #ffff;
    background: #606060;
    padding: 10px;
    border-radius: 10px;
}

    #myBtn:hover {
        background: #00abff;
    }

html {
    scroll-behavior: smooth;
}
/********** footer css ends**********/
